@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap");
.nav-link {
  color: white !important;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 3px;
}
.brand {
  color: white !important;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 3px;
}
.nav-link:hover {
  color: #70bb0d !important;
  border-bottom: 2px solid #70bb0d;
  margin-right: 5px;
}
p {
  color: white;
}
.navbar {
  background-color: #0f1319 !important;
  font-size: 20px;
  margin-bottom: 20px;
}
.brand {
  /* border-left: 2px solid #3e6513; */
  color: white;
  font-weight: bold;
}
span {
  color: #7024e8;
}
.navbar-toggler-icon {
  color: #70bb0d;
}
